body
{
    background-color:#141414;
    color:#eeede6;
    font-family: 'Rajdhani', sans-serif;
}

header
{
    text-align: center;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-bottom-color: #570b0b;
    border-bottom-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    padding-bottom: 0.2em;
}

a
{
    color:#eeede6;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-weight: bold;
    margin: 2em;
    font-size: 3em;
}

p
{
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    margin-top: 6em;
}

img
{
    border: #570b0b;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    width: 255px;
    height: 255px;
}

.ImgLeft
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 0em;
    margin-bottom: 6em;
}

.ImgRight
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: 0em;
    margin-bottom: 6em;
}

#ImgContainer
{
    margin-top: 6em;
}

footer
{
    text-align: center;
}

button
{
    border-style: solid;
    border-color: #570b0b;
    color: #141414;
    margin-top: 1em;
    background-color: #eeede6;
    border-radius: 1em;
}

fieldset
{
    border-style: none;
}

.reply
{
    margin-top: 1em;
}