body
{
    background-color:#141414;
    color:#eeede6;
    font-family: 'Rajdhani', sans-serif;
}

header
{
    text-align: center;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: #570b0b;
    border-bottom-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    padding-bottom: 0.2em;
}

a
{
    color:#eeede6;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-weight: bold;
    margin: 1.5em;
    font-size: 5em;
    margin-bottom: 1em;
}

p
{
    text-align: center;
    font-size: 1.5em;
    margin-left: 0em;
    margin-right: 0em;
}

img
{
    border: #570b0b;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    height: 225px;
    width: 225px;
}

div
{
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    p
    {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px)
{
    p
    {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (min-width: 1281px)
{
    p
    {
        margin-left: 25%;
        margin-right: 25%;
    }
}